@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&family=Montserrat:wght@200;400;600&family=Noto+Sans+JP:wght@200;400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh !important;
}

.App {
  background-color: #edece3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h5,
h6,
p,
a {
  font-family: "Karla", sans-serif;
}

#navbar {
  background-color: #2b5c62;
}

@media screen and (max-width: 500px) {
  .navbarMobile {
    margin-top: 10px;
  }
}

.yellowButton {
  background-color: #edb544 !important;
  border: none !important;
  padding: 0.5em;
}

.yellowButton:hover,
.greenButton:hover {
  background-color: #f29e7d !important;
}

.bgColor {
  background-color: #edece3;
}

/* jumbotron  */

.bigTitle {
  letter-spacing: 5px;
  line-height: 0px;
  position: relative;
}

.bg-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/pattern.png");
  background-repeat: no-repeat;
  padding: 0 !important;
  scale: 2;
  rotate: -10deg;
  top: 0;
  right: 0;
  overflow: hidden;
}

.decoration {
  position: absolute;
  width: 150px;
  background-image: url("/public/assets/decorationTitle.svg");
  top: -80px;
  left: -80px;
}

/* description */
.description {
  background-color: white;
}

.greenButton {
  background-color: #2b5c62 !important;
  border: none !important;
  max-width: 250px !important;
  padding: 0.5em 1em;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-weight: 700;
}

/* footer */

.footer {
  background-color: #2b5c62;
  width: 100%;

}

.socialIcons {
  font-size: 1.5em;
  margin: 0 10px;
  color: #edece3;
}

.socialIcons:hover {
  color: #edb544;
}

/* flashcard */

.flashCard {
  width: 250px;
  height: 500px;
}

.cardIcon {
  font-size: 30px;
  color:#2b5c62
}

.cardIcon:hover {
  color: #f29e7d;
  transform: scale(1.2);
}

/* kanji details */

.detailsBigContainer, .searchResultsContainer, .learningContainer, .reviewContainer {
  height: 100%;
}

.detailsSmallContainer {
  border: 1px solid rgba(176, 176, 176, 0.5);
  border-radius: 10px;
  background-color: white;
  padding-top: 1em;
}


/* search results */

.searchResultsContainer {
  text-align: center;
}

#foundKanji, #savedKanji {
  font-size: 40px;
  color: black !important;
  font-weight: 400;
}

.list-group-item::before{
  font-size: 20px;
}

/* single article */

.singleArticle {
  max-width: 650px;
  margin: 0 auto;
}

.singleArticle a {
  color: #2b5c62 !important;
}

@media screen and (max-width: 700px) {
  .singleArticle img {
    max-width: 70%;
    height: auto;
  }
}

.card-footer {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-top: none !important;
}

/* dropdown button */

#dropdown-item-button {
  background-color: none !important;
  border: none !important;
}

.iconaCheck {
  font-size: 30px;
  color:#edb544;
  cursor: pointer;
}

.iconaCheck:hover {
  color: #2b5c62;
}

.alertIcon {
  color: #edb544;
  font-size: 30px;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.functionCard {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 6px 10px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
}