@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&family=Montserrat:wght@200;400;600&family=Noto+Sans+JP:wght@200;400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh !important;
}

.App {
  background-color: #edece3;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h5,
h6,
p,
a {
  font-family: "Karla", sans-serif;
}

#navbar {
  background-color: #2b5c62;
}

.yellowButton {
  background-color: #edb544 !important;
  border: none !important;
  padding: 0.5em;
}

.yellowButton:hover,
.greenButton:hover {
  background-color: #f29e7d !important;
}

.bgColor {
  background-color: #edece3;
}

.bigTitle {
  letter-spacing: 5px;
  line-height: 0px;
  position: relative;
}

.bg-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/pattern.png");
  background-repeat: no-repeat;
  padding: 0 !important;
  scale: 2;
  rotate: -10deg;
  top: 0;
  right: 0;
  overflow: hidden;
}

.decoration {
  position: absolute;
  width: 150px;
  background-image: url("/public/assets/decorationTitle.svg");
  top: -80px;
  left: -80px;
}

.description {
  background-color: white;
}

.greenButton {
  background-color: #2b5c62 !important;
  border: none !important;
  width: 250px !important;
  padding: 0.5em 1em;
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-weight: 700;
}

.footer {
  background-color: #2b5c62;
  width: 100%;
}

.socialIcons {
  font-size: 1.5em;
  margin: 0 10px;
  color: #edece3;
}

.socialIcons:hover {
  color: #edb544;
}

.sidebar-menu-nav {
  padding: 10px;
}

.levelName {
  font-weight: bold;
  font-size: 14px;
  color: rgb(76, 76, 76);

}

.levelIcon {
  font-size: 16px;
  color: rgb(76, 76, 76);

}

.flashCard {
  width: 250px;
  height: 500px;
}

/* sidebar */

.sidebar-menu-header h2 {
  font-size: 24px;
  font-weight: 800px;
  color: #edb544;
  margin-top: 1em;
}

.sidebar-menu-sub-toggle {
  background: none;
  border: 0;
  margin-bottom: 0.25rem;
  color: hsla(0, 6%, 3%);
}

.sidebar-menu-nav-link{
  color: black;
  text-align: start;
}

.sidebar-menu-nav-link:hover{
  padding: 0.8em;
  background-color: rgb(242, 158, 125, 0.55);
}

/* kanji details */

.detailsBigContainer {
  height: 100vh;
}

.detailsSmallContainer {
  border: 1px solid rgba(176, 176, 176, 0.5);
  border-radius: 10px;
  background-color: white;
  padding-top: 1em;
}


/* search results */

.searchResultsContainer {
  height: 100vh;
text-align: center;
}

#foundKanji {
  font-size: 40px;
  color: black !important;
  font-weight: 400;
}

/* #foundKanji:hover {
  color: #2b5c62;
} */

.list-group-item::before{
  font-size: 20px;
}

/* single article */

.singleArticle {
  max-width: 650px;
  margin: 0 auto;
}

.singleArticle a {
  color: #2b5c62 !important;
}

@media screen and (max-width: 700px) {
  .singleArticle img {
    max-width: 70%;
    height: auto;
  }
}

.card-footer {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-top: none !important;
}

/* dropdown button */

#dropdown-item-button {
  background-color: none !important;
  border: none !important;
}

.learningContainer {
  height: 100vh;
  
}